.ayurvedicremedie {
  background-image: url("https://farmnaturelle.com/cdn/shop/files/Mask_Group_72_1.png?v=1696444459"),
    url("https://farmnaturelle.com/cdn/shop/files/image_12177.png?v=1696444533");
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
}
