.amazon_review-wrap {
  background: url("../../assets//amazon_review.webp");
}

.amazon_review-wrap p {
  color: #006944;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 34px;
  line-height: 150%;
}
