.review-card {
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 15px 30px #00000026;
  width: 440px !important;
  height: 390px;
}

.review-content {
  margin-top: 15px;
  padding-bottom: 60px;
}
.review-content p {
  color: #000;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
