.product {
  width: 32%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  background: #fff;
  cursor: pointer;
}
.product:hover .cart-btn {
  background-color: #006944;
  color: #fff;
}
.product_photo {
  position: relative;
}
.fav span {
  background: #df6857;
  padding: 6px 8px;
  text-align: center;
  line-height: 1.2;
  font-size: 12px;
  color: #fff;
  border-radius: 16px;
}
.product_details h3 {
  margin-bottom: 10px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.5px;
  text-align: left;
  border-bottom: 1px solid rgba(175, 175, 175, 0.5);
  padding-bottom: 10px;
  letter-spacing: 0.54px;
}
.price {
  display: flex;
  gap: 7px;
  align-items: center;
}
.old_price {
  text-decoration: line-through;
  font-size: 16px;
  color: #8b8b8b;
  font-weight: 400;
  margin-left: 2px;
  line-height: 20px;
  opacity: 0.7;
}
.new_price {
  color: #000;
  /* font-family: Inter; */
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.discount {
  max-width: 120px;
  border: 1px solid #006944;
  margin: 0 !important;
  display: inline-block !important;
  color: #fff !important;
  font-family: Jost;
  font-size: 10px !important;
  font-style: normal;
  font-weight: 700 !important;
  padding: 5px 7.09px 5px 5px !important;
  text-transform: uppercase;
  border-radius: 5px;
  border-color: #c62e1a !important;
  background: #c62e1a;
}
.cart-btn {
  color: #006944;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  padding: 12px 36px;
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 12px;
  border: 1px solid #006944;
  display: block;
  margin-top: 10px;
  width: 100%;
  transition: 0.2s linear;
}
.product-images {
  position: relative;
  overflow: hidden;
}

.product_hover_img {
  position: absolute;
  top: 0;
  left: 400px;
  transition: 0.4s ease-in-out;
}
.product-images:hover .product_hover_img {
  left: 0;
}
.product {
  flex: 0 0 auto;
}
