.shop_by_concern {
  background-image: url("../../assets/shopbyconcern1.avif"),
    url("../../assets/shopbyconcern2.avif");
  background-position: right top, left top;
  background-repeat: no-repeat, no-repeat;
}
.category_custom_wrap {
  padding: 77px 0;
  background-color: #f2f7e3;
}

.quick_category_wrap {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
}
.quick_category_wrap a {
  width: 12%;
  padding: 16px;
}
